venv/
.env
*.env
.env
.env.*
!.env.sample

__pychache__/
*.py[cod]
*.pyo
*.pyd


.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/

build/
dist/
*.egg-info/

*.sqlite3
*.db
*.db-journal

.vscode/
.idea/
.DS_Store

app/scraper/linkedin_saved_session.json